#!/usr/bin/env bash

#
# This file was created by the `docker-tools` script generator. Any
# modifications made here may be overwritten without notice.
#
# See `docker-tools --help` for more information.
#
# This script wraps a `docker run` command to execute a docker container.
#

if [ "" == "$DOCKER_TOOLS_CONFIG_DIR" ]; then DOCKER_TOOLS_CONFIG_DIR=$HOME/.docker-tools; fi
if [ "" == "$DOCKER_TOOLS_PREFIX_DIR" ]; then DOCKER_TOOLS_PREFIX_DIR={{.DefaultPrefix}}; fi

declare DOCKER_TOOLS_VERSION="{{.DockerToolsVersion}}"
declare RECIPE_NAME="{{.RecipeName}}"
declare TOOL_NAME="{{.ToolName}}"
declare PREFIX="{{.Prefix}}"
declare TEMPLATE="{{.Template}}"
declare IMAGE="{{.Image}}"
declare TAG="{{.Tag}}"
declare VOLUME="{{.Volume}}"
declare ENV="{{.Env}}"
declare ENTRYPOINT="{{.Entrypoint}}"
declare CMD="{{.Cmd}}"
declare OPTION="{{.Option}}"
declare SOURCE="{{.Source}}"
declare NOTES="{{.Notes}}"

function term {
    local ret_val
    if [ -t 0 ]; then
        ret_val="-t"
    fi
    printf -- "$ret_val"
}

if [ "self-update" = "$1" ]; then
    eval docker pull $IMAGE:$TAG
else
    eval docker run --rm -i $(term) $OPTION $ENV $VOLUME $ENTRYPOINT $IMAGE:$TAG $CMD $@
fi
