

 {{._B}}{{._Grey}}Build{{._R}}    {{._Grey}}{{.footBUILD_ID}}
 {{._B}}{{._Grey}}Date{{._R}}     {{._Grey}}{{.footBUILD_DATE}}
 {{._B}}{{._Grey}}Licence{{._R}}  {{._Grey}}MIT {{._U}}https://github.com/mkenney/docker-tools/blob/master/LICENSE
{{._R}}