{{._R}}{{._Black}}This interface is designed for white text on a black background{{._R}}
{{._B}}                          DOCKER-TOOLS Commands Manual
{{._R}}{{._B}}
{{._WhiteLt}}                                        ##       {{._BlueLt}}  .
{{._WhiteLt}}                                  ## ## ##       {{._BlueLt}} ==
{{._WhiteLt}}                               ## ## ## ## ##    {{._BlueLt}}===
{{._BlueLt}}                           /"""""""""""""""""\___/ ===
{{._BlueLt}}                          ❪         {{._R}}{{._WhiteBt}}o{{._B}}{{._BlueLt}}             /  ===-
{{._BlueLt}}                           \______◞            __/
{{._BlueLt}}                             \    \         __/
{{._BlueLt}}                              \____\_______/
{{._R}}
